{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5" style="text-align:center">
  <h2>
    Привет! Меня зовут Руслан Копылов и я ищу работу :)
  </h2>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col">
      Когда-нибудь я добавлю сюда хорошее фото   
    </div>
    <div class="col">
      Родом из Республики Коми. Перебрался в Санкт-Петербург в 2010 году и поступил в Бонч.<br>
      Получил диплом инженера по многоканальным телекоммуникационным системам.<br>
      После диплома жизнь меня отправила в оператора связи, но продавцом. В компании ОБИТ я проработал 6 лет.<br>
      В 2021 году решил радикально изменить свою жизнь и пошёл на курс backend-а в Яндекс.Практикум.
    </div>
  </div>
</div>
{% endblock %}