{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <div class="container py-5" style="text-align:center">
    <h1 style="text-align:center">Что использовалось в этом проекте</h1>
  </div>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="{%static 'img/python_icon.jpeg' %}" width= "100" style="margin-right: 80px">
              Python 3.8
      </li>
      <li class="list-group-item">
        <img src="{%static 'img/django_icon.jpeg' %}" width = "100" style="margin-right: 80px">
        Django 2.2.16
      </li>
      <li class="list-group-item">
        <img src="{%static 'img/bootstrap_icon.png' %}" width = "100" style="margin-right: 80px">
        Bootstrap
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>{% comment %} Сюда надо добавить описание {% endcomment %}</p>
  </article>
</div>
{% endblock %}