{% extends 'base.html' %}
{% load thumbnail %}
{% load cache %}
{% block title %}
  {{ title }}
{%endblock%}
{%block content%}
{% include 'includes/switcher.html' %}
  <div class="container py-5">     
    <h3>Последние обновления у авторов</h3>
      {% for post in page_obj %}
        {% include 'includes/card.html' with post=post %}
        {% if post.group %}
          <p>
            <a href="{% url 'posts:group_post' post.group.slug %}">
            все записи группы
            </a>
          </p>
        {% endif %}
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    {% include 'includes/paginator.html' %} 
  </div>
{%endblock%}